#background {
    background-image: url("/img/hatter.png"); 
    background-size: 250px 200px;
}

#div {
    width: 895px;
    margin: auto;
    background-color: pink;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 15px;
    padding-bottom: 10px;
    border: black dotted;
    margin-bottom: 10px;
    text-align: justify;
}

#div2 {
    width: 895px;
    margin: auto;
    background-color: pink;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    border: black dotted;
}

#border {
    border-bottom: rgb(121, 65, 93) 2px solid;
}

#img {
    width: 180px;
}

#img2 {
    width: 90px;
    float: left;
    border: inset lightslategray;
    margin: 0px 10px 0px 0px;
}

#h1 {
    margin-top: 25px;
    font-style: italic;
    border: outset lightslategray;
    background-color: pink;
    margin-right: 150px;
}

#center {
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #4a001a;
    background-color: white;
}

#p2 {
    text-indent: 40px;
}

#grid {
    text-align: justify; 
    width: 855px;
    display: grid;
    grid-template-columns: 430px 430px;
    grid-template-rows: 300px 40px 300px 50px 250px;
    grid-gap: 0px 7px;
    margin: 0px 20px 0px 14px
}

#grid2 {
    text-align: justify; 
    width: 821px;
    display: grid;
    grid-template-columns: 180px 180px 180px 180px;
    grid-gap: 7px 20px;
    margin-left: 54px;
}

#lilbub {
    padding: 10px;
    padding-top: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: gray;
}

#bob {
    padding: 10px;
    padding-top: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: gray;
}

#meow {
    padding: 10px;
    padding-top: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: gray;
}

#grumpycat {
    padding: 10px;
    padding-top: 0px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: gray;
}

#owlkitty {
    padding: 10px;
    padding-top: 0px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: gray;
}

#maru {
    padding: 10px;
    padding-top: 0px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: gray;
}

#lilbubimg {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

#bobimg {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

#grumpycatimg {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

#meowimg {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

/* code from https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp */ 

.column {
    float: left;
    width: 25%;
}
  
.column img {
    opacity: 0.8;
    cursor: pointer;
}
  
.column img:hover {
    opacity: 1;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
.container {
    position: relative;
    display: none;
}
  
#imgtext {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: white;
    font-size: 20px;
}
  
.closebtn {
    position: absolute;
    top: 10px;
    right: 15px;
    color: white;
    font-size: 35px;
    cursor: pointer;
}